<html lang="en">
<head>
    <style>
        .something {
            border: 1px solid black;
            border-radius: 8px;
            background-color: rgb(110, 242, 110);
            color: black;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="something">
        <p>password reset email sent, check your email</p>
    </div>
</body>
</html>