body {
    font-family: sans-serif;
}

h1, h2 {
    margin-bottom: 20px;
}

.projects, .tasks {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.projects ul, .tasks ul {
    list-style: none;
    padding: 0;
}

.projects li, .tasks li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.projects a, .tasks a {
    color: blue;
    text-decoration: none;
}
.log {
    margin-left: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}
