{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
      .myfieldclass {
        /* Add your custom styles here */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>